# Virtual environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Dataset (raw only)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep
!data/processed/README.md