# Virtual environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Models
*.pt
*.onnx

# Dataset
data/raw/*
data/processed/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep